<footer class="footer">
    <div class="container-fluid">
    </div>
</footer>
<script  type="text/javascript" src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
<script type="text/javascript" src="/js/site.js"></script>