<div class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text">
                Blogs
            </a>
        </div>
        <ul class="nav">
            <li class="active">
                <a href="/posts">
                    <i class="pe-7s-graph"></i>
                    <p>Posts</p>
                </a>
                <a href="/registration/update">
                    <i class="pe-7s-graph"></i>
                    <p>Profile</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>