<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 login-section-wrapper">
                <%- include('./../common/messages') %>
                    <div class="login-wrapper my-auto">
                        <h3>Forget Password</h3>
                        <form method="POST" action="/forget-password">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" value="<%= formData.email %>"
                                    class="form-control <%= formErrors.email ? 'is-invalid' :'' %>"
                                    placeholder="email@example.com">
                                <% if(formErrors.email){ %>
                                    <div class="invalid-feedback">
                                        <%- formErrors.email.msg %>
                                    </div>
                                    <% } %>
                                        <br />
                                        <button type="submit" class="btn btn-block login-btn">Send</button>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</main>