<div class="card">
    <div class="card-body">
        <form action="/posts/edit/<%- formData._id %>" method="POST" enctype='multipart/form-data'>
            <%- include('_fields') %>
        </form>
    </div>
</div>